body {

    overflow-x: auto;
    overflow-y: hidden;
    height: 100vh;

}

ul#parent-list {

    flex-grow: 25;
    flex-shrink: 0;
    flex-basis: fill;
    display: flex;
    flex-direction: row;
    height:100vh;
    width:300vw;
    overflow-x: auto;


}


li#child-list {


    flex-grow: 25;
    flex-basis: fill;
    transition: all 1s;
    min-width: 0;
    min-height: 0;
    height:98vh;
    width:auto;


}


img#flex {

	height: 100vh;
	flex-grow: 25;
}


.collapse {
    flex-grow: 1;
   
}